node_modules
npm-debug.log*

dist
build

#deployment
!(deployment/nginx.conf)
.dockerignore

.vscode
.idea
.git
.gitignore
.github

.env
.env.*
!.env.example

*.log
.DS_Store

README.md
coverage
*.md

Thumbs.db

public
